<launch>
  <node pkg="leaf_tf_publisher" type="leaf_tf_publisher" name="duro_leaf_tf_publisher">
    <remap from="gnss_pose" to="current_pose"/>
    <remap from="gps/current_pose" to="/gps/duro/current_pose"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="duro_static_tf_publisher" args="0 0 0 0 0 0 gps base_link 5"/>
</launch>

