<launch>
  <arg name="frame_id" default="map"/>
  
  <node pkg="leaf_tf_publisher" type="leaf_tf_publisher" name="duro_leaf_tf_publisher">
    <param name="parent_frame" value="$(arg frame_id)"/>
    <!--<remap from="gnss_pose" to="gps_ref_pose"/> -->
    <remap from="/gps/current_pose" to="/gps/duro/current_pose"/>

    <!--<node pkg="topic_tools" type="relay" name="topic_relay" args="/gps/duro/current_pose /gps/current_pose" />-->
  </node>
  <!--TODO: test and correct -->
</launch>

