<launch>
  <node pkg="gps_tf_publisher" type="gps_tf_publisher" name="duro_leaf_tf_publisher">
    <remap from="gps/current_pose" to="/gps/duro/current_pose"/> 
  </node>
  <node pkg="tf" type="static_transform_publisher" name="duro_static_tf_publisher" args="0.196 0.0 -1.1 0.0 0.0 0.0 gps base_link 10"/>
  
  <!-- GPS debug -->
  <!-- 
  <node pkg="tf" type="static_transform_publisher" name="alt_novatel_static_tf_publisher" args="-1.33 0.408 -1.362 0 0 0 gps_alt base_link_alt 5"/>
  -->
</launch>

