<launch>
  <node pkg="leaf_tf_publisher" type="leaf_tf_publisher" name="novatel_leaf_tf_publisher">
    <!-- <remap from="gnss_pose" to="current_pose"/> -->
    <remap from="gps/current_pose" to="/gps/nova/current_pose"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="novatel_static_tf_publisher" args="-1.33 0.408 -1.362 0 0 0 gps base_link 5"/>
</launch>
