<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!--
    Nissan Leaf méretei 
-->


<launch>
<param name = "car_width" value="1.77"/>                            <!--A jármű teljes szélessége [m]-->
<param name = "car_length" value= "4.535"/>                         <!--A jármű teljes hosszúsága [m]-->
<param name = "wheelbase" value= "2.7"/>                            <!--A jármű tengelytávja [m]-->
<param name = "rear_axle_car_front_distance" value= "3.707"/>       <!--A jármű hátsó tengelye és a kocsi eleje közötti távolság [m]-->
<param name = "max_wheel_angle" value= "31.0"/>                     <!--Maximális kormányszög [deg]-->
<param name = "min_wheel_angle" value= "-31.0"/>                    <!--Minimális kormányszög [deg]-->

<!--A base_link és a laser frame paraméterei, az irányok a base_link-ről mutatnak a laser frame-re  -->
<param name = "base_link_laser_trans_x" value="3.707"/>
<param name = "base_link_laser_trans_y" value="-0.351"/>
<param name = "base_link_laser_trans_z" value="0.113"/>
<param name = "base_link_laser_rot_x" value="0.0"/>
<param name = "base_link_laser_rot_y" value="0.0"/>
<param name = "base_link_laser_rot_z" value="0.0"/>



</launch>