<!--
In this case the computer is 192.168.1.100, the left Ouster is 192.168.1.204, the right is 205.
(This also works with os1-990123456789.local instead of 192.168.x.x)
The published topcs in ths case:
    /left_os1/os1_cloud_node/imu
    /left_os1/os1_cloud_node/points
    /left_os1/os1_node/imu_packets
    /left_os1/os1_node/lidar_packets
-->
<launch>
    <group ns="left_os1">
        <include file="$(find nissan_bringup)/launch/sensory/ouster_instance.launch" >
            <arg name="os1_hostname" value="192.168.1.15"/>
            <arg name="os1_udp_dest" value="192.168.1.5"/>
            <arg name="os1_lidar_port" default="7502" doc="port to which the sensor should send lidar data"/>
            <arg name="os1_imu_port" default="7503" doc="port to which the sensor should send imu data"/>
            <arg name="tf_prefix" default="left_os1"/>
        </include>
    </group>
</launch>