
<!-- An example how to use two Ouster together. -->
<launch>
  <!-- roslaunch nissan_bringup ouster_left.launch -->
  <include file="$(find nissan_bringup)/launch/sensory/ouster_left.launch" />
  <!-- roslaunch nissan_bringup ouster_right.launch -->
  <include file="$(find nissan_bringup)/launch/sensory/ouster_right.launch" />
</launch>