<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
    Nissan Bringup verison 2020.A:
    - LIDAR: 2 x Ouster OS1-64
    - LIDAR: 2 x Velodyne VLP-16
    - LIDAR: 1 x Sick
    - GPS:   1 x Duro 
    - GPS:   1 x NovAtel (map->base_link nova_global_frame_tf_publisher.launch)
    - CAM:   1 x Zed
    - CAN:   nissan_can_control.launch
    - TF:    nissanleaf_statictf_launch.launch
-->
<launch>
  <include file="$(find nissan_bringup)/launch/sensory/ouster_two_lidar.launch" />
  <include file="$(find nissan_bringup)/launch/sensory/velodyne_two_lidar.launch" />
  <include file="$(find nissan_bringup)/launch/sensory/sick_lms_111.nissan.launch" />
  <!--<include file="$(find nmea_navsat_driver)/launch/nmea_serial_driver.launch" />-->
  <include file="$(find nissan_bringup)/launch/sensory/gps.duro.launch" />
  <include file="$(find nissan_bringup)/launch/sensory/gps.nova.launch" />
  <include file="$(find zed_wrapper)/launch/zed_no_tf.launch" />
  <include file="$(find nissan_bringup)/launch/tf_setup/tf_novatel_global_frame_tf_publisher.statictf.launch" />  <!--Start Nova-->
  <!--<include file="$(find nissan_bringup)/launch/tf_setup/tf_duro_global_frame_tf_publisher.statictf.launch" />-->   <!--Start Duro-->
  <include file="$(find nissan_bringup)/launch/tf_setup/tf_nissanleaf_statictf.launch" />
  <include file="$(find can_leaf_driver)/launch/nissan_can_control.launch" />
  <node pkg="nissan_bringup" type="vehicle_cmd_converter.py" name="vehicle_cmd_converter"/> <!-- temporary fix TODO-->
  <node pkg="nissan_bringup" type="current_pose_from_tf.py" name="current_pose_from_tf"/> <!-- temporary fix TODO-->
  <node pkg="topic_tools" type="relay" name="cmd_relay" args="/ctrl_raw /ctrl_cmd" />
  <arg name="model_path" default="/home/nvidia/leaf_ws/src/nissan_leaf_ros/nissan_bringup/param/nissan_leaf_robotdescription.ref.xml" />
  <include file="$(find vehicle_description)/launch/vehicle_model.launch" />
  <param name="robot_description" textfile="$(arg model_path)" />
  <!--<node name="pcd_to_pointcloud" pkg="pcl_ros" type="pcd_to_pointcloud" args="$(find nissan_bringup)/utils/zala_egyetemi_ascii_demo_map.pcd 10 _frame_id:=map_zala_0" />-->
</launch>
<!--
['roslaunch', 'vehicle_description', 'vehicle_model.launch', 'model_path:=/home/nvidia/leaf_ws/src/nissan_leaf_ros/nissan_bringup/param/nissan_leaf_robotdescription.ref.xml']
rosrun pcl_ros pcd_to_pointcloud /mnt/storage_1tb/pcd/zala_egyetemi_ascii_demo_map.pcd 2 _frame_id:=map_zala_0
-->