<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
    Nissan Bringup verison 2020.A:
    - LIDAR: 2 x Ouster OS1-64
    - LIDAR: 2 x Velodyne VLP-16
    - LIDAR: 1 x Sick
    - GPS:   1 x Duro 
    - GPS:   1 x NovAtel (map->base_link nova_global_frame_tf_publisher.launch)
    - CAM:   1 x Zed
    - CAN:   can_driver.gen.launch
    - TF:    nissanleaf_statictf_launch.launch
-->
<launch>
  <include file="$(find nissan_bringup)/launch/sensory/ouster_two_lidar.launch" />
  <include file="$(find nissan_bringup)/launch/sensory/velodyne_two_lidar.launch" />
  <include file="$(find nissan_bringup)/launch/sensory/sick_lms_111.nissan.launch" />
  <include file="$(find nissan_bringup)/launch/sensory/gps.duro.launch" />
  <include file="$(find nissan_bringup)/launch/sensory/gps.nova.launch" />
  <include file="$(find nissan_bringup)/launch/tf_setup/duro_global_frame_tf_publisher.launch" />
  <include file="$(find zed_wrapper)/launch/zed_no_tf.launch" />
  <include file="$(find nissan_bringup)/launch/low_level/can_driver.gen.launch" />
  <include file="$(find nissan_bringup)/launch/tf_setup/nissanleaf_statictf_launch.launch" />
  <include file="$(find nissan_bringup)/launch/test/test.ouster.lidar.launch" />
</launch>
