<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<launch>
  

  <include file="$(find nissan_bringup)/launch/sensory/ouster_right.launch" />
  <include file="$(find nissan_bringup)/launch/tf_setup/tf_duro_global_frame_tf_publisher.statictf.launch" />
  <include file="$(find nissan_bringup)/launch/sensory/gps.duro.launch" />
  <include file="$(find nissan_bringup)/launch/tf_setup/tf_nissanleaf_statictf.launch" />
  <include file="$(find can_leaf_driver)/launch/nissan_can_control.launch" />
  <include file="$(find nissan_bringup)/launch/sensory/gps.nova.launch" />
  <include file="$(find ros_guis)/launch/temporary.launch" /> 
  <param name = "waypoint_file_name" value="/mnt/storage_1tb/waypoint/zalae_egyetemi_demo_duro.csv"/>

</launch>