<launch>
  <arg name="sync" default="false" />
  <arg name="node_name" default="voxel_grid_filter" />
  <arg name="points_topic" default="points_concat" />
  <arg name="output_log" default="false" />
  <arg name="measurement_range" default="200" />

  <node pkg="points_downsampler" name="$(arg node_name)" type="$(arg node_name)">
    <param name="points_topic" value="$(arg points_topic)" />
    <remap from="/points_raw" to="/sync_drivers/points_raw" if="$(arg sync)" />
    <param name="output_log" value="$(arg output_log)" />
    <param name="measurement_range" value="$(arg measurement_range)" />
    <param name="voxel_leaf_size" value="15.0" />
  </node>
  <node pkg="rostopic" type="rostopic" name="config_voxelgrid" args="pub /config/voxel_grid_filter autoware_config_msgs/ConfigVoxelGridFilter --file=$(find nissan_autoware_launch)/param/voxel_settings.yaml"/>
  <node args="697200 5285696.30588 0.0 0.0 0.0 0.0 /base_link /virtual_center_lidar 10" name="virtuallidar" pkg="tf" type="static_transform_publisher"/> 
</launch>
<!--rostopic pub /config/voxel_grid_filter autoware_config_msgs/ConfigVoxelGridFilter "voxel_leaf_size: 2.5
measurement_range: 200.0" -->