<launch>
    <group ns="right_os1">
        <include file="$(find ouster_ros)/os1.launch" >
            <arg name="os1_hostname" value="192.168.1.205"/>
            <arg name="os1_udp_dest" value="192.168.1.54"/>
            <arg name="os1_lidar_port" default="7504" doc="port to which the sensor should send lidar data"/>
            <arg name="os1_imu_port" default="7505" doc="port to which the sensor should send imu data"/>
            <arg name="tf_prefix" default="right_os1"/>
        </include>
    </group>
</launch>