<launch>
    <arg name="group_prefix" default="right_os1"/>
    <arg name="os1_ip" default="192.168.1.205"/>
    <arg name="os1_dest" default="192.168.1.205"/>
    <arg name="os1_lidar_port" default="7504"/>
    <arg name="os1_imu_port" default="7505"/>
    <group ns="$(arg) group_prefix)">
        <include file="$(find ouster_ros)/os1.launch" >
            <arg name="os1_hostname" value="$(arg os1_ip)"/>
            <arg name="os1_udp_dest" value="$(arg os1_dest)"/>
            <arg name="os1_lidar_port" default="$(arg os1_lidar_port)" doc="port to which the sensor should send lidar data"/>
            <arg name="os1_imu_port" default="$(arg os_imu_port)" doc="port to which the sensor should send imu data"/>
            <arg name="tf_prefix" default="$(arg group_prefix)"/>
        </include>
    </group>
</launch>